
#___gcse_0 *:not(.gsc-above-wrapper-area) {
    border: none !important;
    padding: 0 !important;
}

.gsc-selected-option-container {
    max-width: 100% !important;
}

.gcsc-branding {
    display: none !important;
}