{%- assign post = include.post -%}
{%- capture cover -%}{%- include partial/page-image.html content=post.content -%}{%- endcapture -%}
{%- capture alt -%}{%- include partial/page-image.html content=post.content prop="alt" -%}{%- endcapture -%}
<a class="post-item" href="{{ post.url | prepend: site.baseurl }}">  
    {%- if cover == "false" -%}
    <h3>{{ post.title | capitalize }}</h3>
    <small class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</small>
    <p class="description">
        {%- if post.description -%}
        {{ post.description | strip_html | strip_newlines | truncate: 120 }}
        {%- else -%}
        {{ post.content | strip_html | strip_newlines | truncate: 120 }}
        {%- endif -%}
    </p>
    {%- else -%}
    <img src="{{ post.image | default: cover }}" alt="{{ alt | default: post.title }}" />
    <div class="image-caption">
      <div class="post-title"><h3>{{ post.title | capitalize }}</h3></div>
      <small class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ post.date | date: "%b %-d, %Y" }}
        </time>
      </small>
    </div>
    {%- endif -%}
</a>
